.Wrapper {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgb(4, 104, 4);
}

.Header {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    background: center;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(consulting.jpg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
}

.Headline {
    background-color: rgba(4, 104, 4, 0.7);
    width: auto;
    color: white;
    box-sizing: border-box;
    display: inline-block;
}

.Name {
    font-size: 3rem;
}

.Slogan {
    font-size: 1.3rem;
}

@media (max-width: 810px) {
    .Header {
        height: calc(100vh - 56px);
        background-image: url(consulting.mini.jpg);
    }
}