.Page {
    margin: 50px 0;
}

.ContentImageWrapper {
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(4, 104, 4);
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.ContentImageWrapper * {
    margin: auto 0 auto 13px;
}
.ContentImageWrapper *:first-child {
    margin: initial;
}

.ContentImage{
    max-width: 100%;
    max-height: 208px;
}

.Content {
    padding: 10px 10%;
}