.Navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.Link {
    flex: 1;
    font-size: 2rem;
    color: white;
    padding: 10px 0;
}

.LinkAnchor {
    color: white;
    text-decoration: none;
}

.LinkAnchor:hover {
    color: blue;
    text-shadow: 1px white;
}