.Legal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0;
    color: white;
    text-decoration: underline;
}

.LegalModal h1, .LegalModal h2, .LegalModal h3 {
  font-size: inherit;
}